<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invoice</title>
  <style>
    /* Your CSS styles for the invoice */
  </style>
</head>
<body>
  <h1>Your vote has been recorded</h1>
  <p>Candidate : <%= cname %></p>
  <p>Party: <%= party %></p>
  <p>At: <%= date %></p>
</body>
</html>
